
.container-inline{
    display: flex;

} 

#footer > div > div.details > img{
    width: 45vh;
}
.map{
    flex: 1;
    margin-right: 16vh;
    margin-left: 16vh;
}
.details{
    flex: 2;
}
.row{
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    
}
.row > div.travel_mainDiv{
    outline: 2px double #808080;
    margin: 2px;
}
.flexer{
    display: flex;
    flex-direction: column;
    font-size: 62.5%;
    width: 50%
}

.movie_head{
    font-size: 2rem;
    text-align: start;
    margin: 0.5rem;
}
.collapse{
    font-size: 1.5rem;
}
.announcement{
    background-color: lightcyan;
}
h4.rem2{
    font-size: 2em;
}
.list-group-item-text{
    font-size: 1.5rem;
}
<<<<<<< HEAD
#footer{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
=======
>>>>>>> edcf21c97a274c1ad03895346bc0cd7e817c90ab
