.container-inline{
    display: flex;
    
}
.map{
    flex: 1;
    margin-left: 32vh;
}
.details{
    flex: 2;
}
.map:details {
    margin-right: 20vh;
} 
body > div.container-inline > div.details > img{
    width: 45vh;
}
