
.container-inline{
    display: flex;

} 
body > div.container-inline > div.details > img{
    width: 45vh;
}
.row{
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    
}
.row > div.travel_mainDiv{
    outline: 2px double #808080;
    margin: 2px;
}
.flexer{
    display: flex;
    flex-direction: column;
    font-size: 62.5%;
    width: 50%
}

.movie_head{
    font-size: 2rem;
    text-align: start;
    margin: 0.5rem;
}
.collapse{
    font-size: 1.5rem;
}
.announcement{
    background-color: blue;
}
.list-group-item > h4{
    font-size: 2.5em
}
.list-group-item > p{
    font-size: 1.5rem;
}
